//prod-details section
.section_slider-mob {
  display: block;
  padding: 0 !important;
  @include media(">=lg") {
    display: none;
  }
  .slick-prev,
  .slick-next {
    top: 50% !important;
  }
}
.prod_details {
  padding: 2rem 0;
  &_wrap {
    display: flex;
    flex-wrap: wrap;
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: auto;
    // grid-gap: 1.5rem;
    // @include media(">=lg") {
    //   grid-template-columns: repeat(2, 1fr);
    // }
    // @include media(">=xl") {
    //   grid-template-columns: 60% 40%;
    // }

    .img_box {
      width: 100%;
      padding-bottom: 2rem;
      display: none;
      @include media(">=lg") {
        width: 57%;
        padding-bottom: 0;
        display: block;
      }
      img {
        width: 100%;
      }
    }

    .content_box {
      width: 100%;
      @include media(">=lg") {
        width: 43%;
        padding-left: 1.875rem;
      }
      @include content-gap();
      h2 {
        @include margin(top, 0.25);
      }
      p {
        font-size: 1rem;
        font-size: clamp(1rem, 2vw, 1.25rem);
        line-height: 1.4;
      }
      .small {
        font-size: 1rem;
      }
      .star {
        @include padding(right, 0.5);
        i {
          font-weight: weight(bold);
          color: color(primary);
        }
      }
      a {
        text-decoration: underline;
        color: color(accent);
        @include padding(left, 0.5);
      }
      .price {
        .linethrough {
          color: color(accent-light);
        }
      }
      .add_cart {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        grid-gap: 2rem;
        justify-content: space-between;
        align-items: center;
        @include margin(top, 2);

        #field {
          width: 100%;
        }
        .btn {
          text-transform: capitalize;
        }
      }
      .add-to-cart {
        padding: 0.625rem 1rem;
        border: 1px solid color(border);
        background: color(bg-light);
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: auto;
        grid-gap: 0.5rem;
        justify-content: space-between;
        align-items: center;

        .content {
          grid-column: span 4;
        }
        .add {
          grid-column: span 2;
          text-align: center;
          a {
            text-decoration: underline;
            font-size: $fs-sm;
            i {
              color: color(accent-light);
              font-size: 1.5rem;
            }
          }
        }
        p {
          font-size: $fs-base;
        }
        a {
          text-decoration: none;
          padding-left: 0;
          @include hover {
            text-decoration: underline;
          }
        }
      }
      .pdp_promo_badge {
        display: flex;
        flex-flow: wrap;
        align-items: center;
        margin: 1.875rem 0;

        &_img {
          flex: 0 0 27.75%;
          z-index: 1;
        }

        &_note {
          flex: 0 0 calc(72.25% + 2.5rem);
          @include margin(left, -2.5);
          padding: 0.938rem 0.938rem 0.938rem 3.75rem;
          background: color(bg-light);

          p {
            font-size: 1rem;
            span {
              color: color(primary);
              font-weight: weight(bold);
            }
          }
        }
      }
    }
  }
}

//descriotion section
.section_description {
  padding: 3rem 0;

  h3 {
    @include margin(bottom, 1);
  }

  .tab_list {
    @include border(bottom, 1px, color(border));
    ul {
      border: 0;
      li + li {
        border: 0;
      }
      li {
        @include set-background(white);
        border: 0;
        @include media(">=sm") {
          padding: 0.5rem 1rem;
        }

        &.current {
          @include set-background(white);
          color: color(primary);
          @include border(bottom, 3px, color(black));
        }
      }
    }
  }

  .grid_box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 2rem;

    @include media(">=md") {
      &.col2 {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    & > * {
      h3 {
        @include margin(bottom, 1);
      }
      .check_list {
        li {
          font-size: 1rem;
          font-size: clamp(1rem, 2vw, 1.25rem);
          line-height: 1.4;
        }
      }
      .img_list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
        grid-template-rows: auto;
        grid-gap: 2rem 0.5rem;
        text-align: center;
      }
      p {
        font-size: 1rem;
        font-size: clamp(1rem, 2vw, 1.25rem);
        @include media(">=md") {
          &.col2 {
            column-count: 2;
            column-gap: 2rem;
          }
        }
      }
      .question {
        @include content-gap(0.5);

        a {
          color: color(primary);
          font-weight: weight(bold);
          @include hover {
            text-decoration: underline;
          }
        }
      }
      .question + .question {
        @include margin(top, 2);
      }
    }
  }
}

//product_grid
.product_grid {
  padding: 5rem 0;
  text-align: center;

  &_wrap {
    @include margin(top, 2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    .prod_box {
      width: 100%;
      padding: 1.5rem;

      img {
        width: 18.75rem;
      }

      @include media(">=sm") {
        width: 50%;
        img {
          width: auto;
          height: 17.5rem;
        }
      }

      @include media(">=md") {
        width: 33%;
      }
    }

    .prod_content {
      @include content-gap();
    }
  }
}

/*..... prod-details slider start
.................................*/
.prod-slider .slider.slider-for {
  max-width: 83%;
}
.prod-slider .slider.slider-nav {
  max-width: 17%;
}
.prod-slider .slider.slider-for,
.prod-slider .slider.slider-nav {
  width: 100%;
  float: left;
}
.prod-slider .slider.slider-nav {
  height: 600px;
  overflow: hidden;
}
.slider-banner-image {
  height: 600px;
  padding: 0;
}
.prod-slider .slider.slider-nav {
  padding: 20px 0 0;
}
.slider-nav .slick-slide.thumbnail-image {
  padding: 0 0.938rem 0 0;
}
.slider-nav .slick-slide.thumbnail-image .thumbImg {
  @include size(100%);
  margin: 0.813rem 0;
  border: 1px solid #ebebeb;
}
.slider-banner-image img,
.slider-nav .slick-slide.thumbnail-image .thumbImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slick-vertical .slick-slide:active,
.slick-vertical .slick-slide:focus,
.slick-arrow:hover,
.slick-arrow:focus {
  border: 0;
  outline: 0;
}
.slider-nav .slick-slide.slick-current.thumbnail-image .thumbImg {
  border: 2px solid color(primary);
}
.slider-nav .slick-slide.slick-current span {
  color: color(primary);
}
.slider-nav .slick-slide {
  text-align: center;
}
.slider-nav .slick-slide span {
  font-size: $fs-base;
  display: block;
  padding: 5px 0 15px;
}
.slider-nav .slick-arrow {
  width: 100%;
  height: 20px;
  background-color: transparent;
  border: 0;
  background-position: center;
  background-repeat: no-repeat !important;
  font-size: 0;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 8;
}
.slider-nav .slick-prev {
  top: 10px;
}
.slider-nav .slick-next {
  bottom: 0;
  top: inherit;
}
.slider-nav .slick-prev.slick-arrow {
  background-image: url(../images/arrow-up.svg);
  background-size: 20px;
  background-position: center;
}
.slider-nav .slick-next.slick-arrow {
  background-image: url(../images/arrow-down.svg);
  background-size: 20px;
  background-position: center;
}
.slider-nav .slick-prev:before,
.slider-nav .slick-next:before {
  content: none;
}
/*End USE CSS for Slider*/

@media screen and (max-width: 991px) {
  .prod-slider .slider.slider-for,
  .prod-slider .slider.slider-nav {
    max-width: 100%;
    float: none;
  }
  .prod-slider .slider.slider-for {
    padding-right: 0;
  }
  .prod-slider .slider.slider-nav {
    height: auto;
  }
  .slider-banner-image {
    height: 500px;
  }
  .slider.slider-nav.thumb-image {
    padding: 10px 30px 0;
  }
  .slider-nav .slick-slide span {
    padding: 5px 0;
  }
  .slider-nav .slick-arrow {
    padding: 0;
    width: 30px;
    height: 30px;
    top: 50%;
    bottom: 0;
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
  }
  .slider-nav .slick-prev {
    left: 0;
    right: unset;
  }
  .slider-nav .slick-next {
    left: unset;
    right: 0;
    background-color: transparent;
  }
  .bid-tag {
    padding: 10px 0 15px;
  }
  .slider.slider-nav.thumb-image {
    white-space: nowrap;
  }
  .thumbnail-image.slick-slide {
    padding: 0px 5px;
    min-width: 75px;
    display: inline-block;
    float: none;
  }
}

@media screen and (max-width: 767px) {
  .slider-banner-image {
    height: 400px;
  }
  .slider.slider-nav.thumb-image {
    padding: 0px 20px 0;
    margin: 10px 0px 0;
  }
  .slider-nav .slick-slide.thumbnail-image .thumbImg {
    max-width: 140px;
    height: 80px;
  }
  .slider-nav .slick-prev.slick-arrow {
    background-position: center;
  }
  .slider-nav .slick-next.slick-arrow {
    background-position: center;
  }
  .slider-nav .slick-slide span {
    font-size: 12px;
    white-space: normal;
  }
}

@media screen and (max-width: 580px) {
  .slider-banner-image {
    height: 340px;
  }
}

@media screen and (max-width: 480px) {
  .slider-banner-image {
    height: 280px;
  }
}

/*..... prod-details slider end
.................................*/
