//hero section
.hero_collection {
  @include media("<md") {
    .container {
      padding: 0;
    }
  }
  .hero_hair_collection {
    background: bg("hair_banner.png") no-repeat;
    background-position: center -1.875rem;
    background-size: cover;
    @include media(">=md") {
      background-position: right center;
      background-size: 65%;
    }
  }
  &_wrap {
    padding: 10rem 0.938em 0;

    @include media(">=sm") {
      padding: 15rem 0.938em 0;
    }

    @include media(">=md") {
      padding: 4rem 0;
    }

    .hero_content {
      @include set-background(color(white));
      @include content-gap();
      padding: 0.938rem 1.25rem;
      width: 100%;
      @include media(">=md") {
        padding: 2rem 2rem 2rem 0;
        width: 45%;
      }

      h1 {
        font-size: 4rem;
        font-size: clamp(2.5rem, 5vw, 4.5rem);
      }

      p {
        font-size: 1rem;
        font-size: clamp(1rem, 2vw, 1.25rem);
        line-height: 1.4;
      }
    }
  }
}

// prod section
.prod_collection {
  padding: 4rem 0;
  .heading {
    @include padding(bottom, 0.5);
    @include margin(bottom, 0.75);
    @include border(bottom, 1px, color(border));
  }
  &_wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
    grid-template-rows: auto;
    grid-gap: 0.938rem;
    @include media(">=460px") {
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
    @include media(">=sm") {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media(">=md") {
      grid-template-columns: repeat(3, 1fr);
    }
    @include media(">=xl") {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.875rem;
    }
  }
}

// collection video section
.collection_video {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 0;
  @include media(">=md") {
    grid-template-columns: 45% 55%;
    .content {
      grid-area: 1 / 1 / 2 / 2;
    }
  }

  .content {
    padding: 1.875rem 0.938em;
    display: grid;
    place-items: center;
    @include media(">=xl") {
      padding: 3rem;
      padding-left: calc((100vw - 1170px) / 2);
    }
  }
  .video {
    background: bg("hair_video-bg.jpg") no-repeat center left;
    background-size: cover;
    padding: 2rem 0.938em;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    @include media(">=md") {
      padding: 3rem;
      height: 500px;
    }

    a {
      color: color(white);
      font-size: 3rem;
      font-size: clamp(2rem, 4vw, 3rem);
      font-weight: weight(bold);

      i {
        font-size: 4rem;
        font-size: clamp(3rem, 5vw, 5.5rem);
        vertical-align: top;
        @include padding(right, 0.25);
      }
    }
  }
}

// collection img-text section
.collection_img_text {
  background: bg("hair_back_img.jpg") no-repeat center top;
  background-size: 300%;
  height: 480px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 2.5rem 0 2rem;
  padding: 0 0.938em;
  @include media(">=md") {
    background: bg("hair_back_img.jpg") no-repeat center;
    background-size: cover;
    padding: 0;
    align-items: center;
    margin: 4.5rem 0 0;
    height: 560px;
  }

  .content {
    @include set-background(color(secondary));
    padding: 1.2rem 1.5rem;
    width: 100%;
    @include media(">=md") {
      width: 50%;
      padding: 1.5rem 4.5rem;
    }

    h2 {
      color: color(white);
      font-size: 2.5rem;
      @include media(">=md") {
        font-size: 3rem;
      }
    }
  }
}
