// tab section
.tab_list {
  display: flex;
  justify-content: center;
  align-items: center;
  @include margin(bottom, 3);

  ul.tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 0;
    justify-content: center;
    align-items: center;
    border: 1px solid color(accent);
    @include bd-radius(0.25rem);

    &.tabs2 {
      display: none;
      @include media(">=sm") {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }
    }

    li + li {
      @include border(left, 1px, color(accent));
    }

    li {
      padding: 0.5rem;
      font-size: 1rem;
      text-align: center;
      cursor: pointer;
      transition: 0.3s ease all;

      &.current {
        @include set-background(color(primary));
        transition: 0.3s ease all;
      }

      @include media(">=sm") {
        padding: 0.5rem 2rem;
        font-size: 1.25rem;
      }
    }
  }

  .tab2_mob {
    display: block;
    width: 160px;
    @include media(">=sm") {
      display: none;
    }
  }
}
.tab-content {
  display: none;
  transition: 0.3s ease all;
}
.tab-content.current {
  display: inherit;
  transition: 0.3s ease all;
}
.tab-content2 {
  img {
    width: 100%;
  }
}

// slider section
.slick-slide {
  padding: 0 0.75rem;

  .content_box2 {
    padding: 1.25rem 1rem 3rem;
    @include set-background(color(white));
    @include content-gap();

    .star {
      i {
        color: color(primary);
      }
      .badge {
        @include set-background(color(accent));
        @include bd-radius(0.625rem);
        display: inline-block;
        min-width: 10px;
        padding: 0.25rem 0.5rem;
        font-size: $fs-sm;
        font-weight: weight(medium);
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        float: right;

        &.secondary {
          @include set-background(color(secondary));
        }
        &.primary {
          @include set-background(color(primary));
        }
      }
    }
    p {
      font-size: 1rem;
      font-size: clamp(1rem, 2vw, 1.25rem);
      line-height: 1.4;

      &.small {
        font-size: 1rem;
      }

      a {
        color: color(primary);
      }
    }
    .review-name {
      text-decoration: underline;
      font-weight: weight(bold);
    }
  }
}
