@font-face {
  font-family: "sofia_proregular";
  src: font("sofia_pro_regular.woff2") format("woff2"),
    font("sofia_pro_regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sofia_promedium";
  src: font("sofia_pro_medium.woff2") format("woff2"),
    font("sofia_pro_medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sofia_prosemibold";
  src: font("sofia_pro_semi_bold.woff2") format("woff2"),
    font("sofia_pro_semi_bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sofia_proultralight";
  src: font("sofia_pro_ultralight.woff2") format("woff2"),
    font("sofia_pro_ultralight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sofia_problack";
  src: font("sofia_pro_black.woff2") format("woff2"),
    font("sofia_pro_black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sofia_probold";
  src: font("sofia_pro_bold.woff2") format("woff2"),
    font("sofia_pro_bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sofia_proextralight";
  src: font("sofia_pro_extralight.woff2") format("woff2"),
    font("sofia_pro_extralight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sofia_prolight";
  src: font("sofia_pro_light.woff2") format("woff2"),
    font("sofia_pro_light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
