// add your base style here
.hidden-scrolling {
  overflow-y: hidden;
  position: fixed;
}
@include media("<md") {
  .hideMob {
    display: none;
  }
}
@include media("<sm") {
  .hideSml {
    display: none;
  }
}
